<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
<%- include('./partials/nav.ejs') %>
    <h1>Home page</h1>
    <h3>welcome <%= user %></h3>
    <h4>i am a <%= role %></h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, odit.</p>
</body>
</html>